[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
twine = "*"
flake8-bugbear = "*"
flake8-black = "*"
flake8 = "*"
black = "*"

[packages]
sanic-envconfig = {editable = true,path = "."}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
